@import 'tailwind.css';
@import 'vue-toastification/dist/index.css';

.Vue-Toastification__toast--default {
    background-color: var(--color-info);
}

.bi-spin {
    display: inline-block;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
