@import "tailwindcss";
@import './fohn-root-color.css';
@import 'vue-toastification/dist/index.css';
@config "../tailwind.config.js";

@theme {
    --color-primary: #6D28D9;
    --color-secondary: #EC4899;
    --color-accent: #34D399;
    --color-info: #3B82F6;
    --color-success: #059669;
    --color-warning: #F59E0B;
    --color-error: #DC2626;
    --color-neutral: #D1D5DB;
}




.Vue-Toastification__toast--default {
    background-color: var(--color-info);
}

.bi-spin {
    display: inline-block;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
